body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    color: #ffffff;
}

a:link {
    color:rgb(0, 153, 255);
}

a:visited{
    color:rgb(0, 153, 255);
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

header {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;

    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


header h1{
    font-size: 50px;
}

header a{
    font-size: 25px;
}

.header-buttons a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s;
}

.header-buttons a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.header-buttons a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

.header-buttons a:hover {
    color: #ccc;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.slideshow-container {
    position: relative;
    width: 900px; /* Fiksna širina */
    height: 506px; /* Fiksna visina */
    margin: auto;
    overflow: hidden;
    border: 2px solid #fff;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prilagodite slike unutar fiksnih dimenzija */
    display: none;
    transition: opacity 1s ease-in-out;
}

.slides img.active {
    display: block;
}

.slideshow-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.slideshow-buttons button {
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.github-link {
    text-align: center;
    margin-top: 20px;
}

.github-link a {
    display: block;
    background: white;
    color: black;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: background 0.3s ease;
}

.github-link a:hover {
    background: #838383;
    color: white;
    transition: background 0.3s ease;
}

.right-column .text-container {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
}

.right-column h2 {
    margin-top: 0;
}

.right-column p {
    font-size: 18px;
    line-height: 1.6;
}

.logo{
    display: flex;
}

.logoLink{
    display: flex;
}

.logo img{
    height: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100px;
    background: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}
